<!DOCTYPE html>
<html>
<head>
  <title>Consense</title>
  <%= stylesheet_link_tag    "consense/application", media: "all" %>
  <%= javascript_include_tag "consense/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
