/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, html {
  font-family: 'Open Sans', sans-serif;
  background: #3c4042;
  position: relative;
  height: 100%;
  margin: 0;
}

.consempt-prompt {
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.4);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background: white;
  position: absolute;
  padding: 30px;
  width: 100%;
  left: 50%;
  top: 50%;
}

@media (min-width: 500px) {
  .consempt-prompt { width: 500px; }
}

.consempt-prompt h2 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
}

.consempt-prompt .description {
  color: #4f5256;
}

.button-accept, .button-deny {
  border-right: 4px solid;
  border-bottom: 4px solid;
  border-radius: 3px;
  padding: 8px 25px;
  color: white;
  text-decoration: none;
}

.button-accept:hover, .button-deny:hover {
  border-color: transparent;
  transition: all 0.2s ease-out;
  color: white;
}

.button-accept {
  border-color: #1c5f1c;
  background: #2e9a2e;
}

.button-deny {
  border-color: #841516;
  background: #e43232;
}

.consempt-prompt .description {
  margin-bottom: 30px;
}
